@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">ONG CIUDAD DE DOLLAR</h1>
    <h2 class="text-center">Proyecto Final Programacion X</h2>
    <img src="~/images/ong.png" class="center-block" width="400" height="200" />
    <p> </p>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/donadoresMVC/index" class="btn btn-primary btn-lg">Reporte General &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="/donadoresMVC/Create" class="btn btn-primary btn-lg">Crear Nuevo Donador &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <p><a href="~/TelefonoMVC/Detalles" class="btn btn-primary btn-lg">Editar/Eliminar Telefono &raquo;</a></p>
        </div>
    </div>
